/* This file contain all the styling for the component CurrencyRow */


#CurrencyRow input {
    width: 450px;
    height: 70px;
    border-radius: 10px;
    margin-right: 30px;
   
}

input:focus {
    border: red;
}

select {
    height: 70px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    width: 150;
    border-color: none;
    box-shadow: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    select {
        width: 20;
    }
}

.box select {
    background-color: #323C59;
    color: white;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: 20px;
    appearance: button;
    -webkit-appearance: auto;
    -moz-appearance: button;
    -o-appearance: button;
    -ms-appearance: button;
    appearance: button;
    -ms-appearance: button;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
    
  }
  
  .box select option {
    padding: 30px;
    background:url('/src/component/CurrencyRow/image/up.png') no-repeat center;
  }

  .Currency-title {
      font-weight: 600  ;
      font-size: 45px;
  }

  /* Medium devices (tablets, 768px and -) */
@media (max-width: 768px) { 
    #CurrencyRow input {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    margin-right: 10px;
    }
 }

  /* Small devices (tablets, 488px and -) */

 @media (max-width: 485px) { 
    #CurrencyRow input {
    width: 200px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
    }
 }