.CurrencyRow {
    height: 800px;
    width: 100%;
    background-color: #323C59;
   
  }
  
  .CurrencyRow-wrapper {
    padding-top: 25vh;
    padding-bottom: 25vh;
    width: 100%;
    background-color: #323C59;
  }
  
 .CurrencyRow-wrapper .CurrencyRow-bg {
    background-color: #1F2740;
    height: 400px;
    width: 100%;
    border-radius: 20px;
    float: none;
    margin: 0 auto;
    
  }

  #CurrencyRow-subWrapper {
    margin: auto;   
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }


  .Currency-title {
      color: white;
      display: flex;
  }


  /* Responsive */