.CurrencyRow {
    height: 800px;
    width: 100%;
    background-color: #323C59;

    align-items: center;
    text-align: center;
    margin: auto;
    padding: auto;
  }
  
  .CurrencyRow-wrapper {
    padding-top: 25vh;
    padding-bottom: 25vh;
    width: 100%;
    align-items: center;
    display: inline-flex;
    background-color: #323C59;

  }
  
  .CurrencyRow-bg {
    background-color: #1F2740;
    height: 400px;
    width: 100%;
    align-content: center;
    text-align: center;
    align-items: center;
    
    border-radius: 20px;
    display: flex;
  
  }


  .Currency-title {
      color: white;
      display: flex;
  }