/*
This file contain all the css for the Header / nav /navbar / menu / mobile menu / navbrand
Modify ths file if you wish to modify the style of the element cited above
* Unprocessed CSS *
*/

                                                /* Desktop navbar */

/* header menu */
.Header {
    background-color: #023075;
    padding: none;
    margin: none;
}

.Header .navbar {
    padding: 0;
}

/* navbar brand, can be replaced with a logo/img, temp text only */
.navbar-brand  {
    color: white; 
    padding-left: 10px;
    padding-right: 20px;
}

.navbar-brand:active  {
    color: white; 
}

/* nav item-link, menu link and item */
.nav-item .nav-link  {
    color: #fff;
    padding: 1rem;

}

.nav-item .nav-link:active {
    color: rgb(206, 206, 206);
}

.nav-item .nav-link:hover {
    color: rgb(206, 206, 206);
}

.navbar-nav  li {
    font-size: 17px;
    font-weight: 600;
}

/* navbar button elements */

.navbar button {
    font-weight: 600;
    font-size: 15px;
}

.navbar button:first-child {
    background-color: #C23D2B;
    color: white;
    margin-right: 20px;
}

.navbar button:first-child {
    background-color: #C23D2B;
    color: white;
    margin-right: 20px;
}

.navbar button:first-child:hover {
    background-color: #E5E9F2;
    color: #C23D2B;
    margin-right: 20px;
    font-size: 17px;   
}

.navbar button:last-child {
    background-color: #185DC2;
    color: white;
    margin-right: 20px;
}

.navbar button:last-child:hover {
    background-color: #E5E9F2;
    color: #185DC2;
    margin-right: 20px;
    font-size: 17px;   
}

li .nav-item .active {
    background-color: #185DC2;
}

/* effect active tab change color */
 .navbar-nav > .active > a, 
 .navbar-nav > .active > a:focus, 
 .navbar-nav > .active > a:hover {
    color: rgb(255, 255, 255);
    background-color: red
}

                                                /* Mobile/responsive menu */

